.transaction-history {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transaction-history thead {
    background-color: #333;
    color: #fff;
}

.transaction-history th,
.transaction-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.transaction-history tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.transaction-history tbody tr.hover {
    background-color: #ddd;
}

.transaction-history th {
    padding-top: 10px;
    padding-bottom: 10px;
}